@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-sloby-h: 100px;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .dashboardIcon {
    @apply text-dark-mid mt-10 text-4xl m-1 p-2.5 cursor-pointer ease-in transition-all duration-100 hover:text-white rounded-xl static hover:bg-dark-border;
  }
  .dashboardIconTooltip {
    @apply peer-hover:opacity-100 opacity-0 transition-opacity duration-100 ease-in absolute top-1/2 left-16 text-white bg-dark-darker p-2 rounded-xl;
  }
  .btn {
    @apply rounded-xl py-2 px-3 text-base font-semibold cursor-pointer tracking-wider;
  }
  .welcome-color {
    background: linear-gradient(180deg, #3b2d73 0%, #3b2496 69.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.nav-sloby {
  height: var(--nav-sloby-h);
}

.hs-custom {
  height: calc(100vh - var(--nav-sloby-h));
}

.nav-button {
  padding: 6px 10px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: color 250ms;
}

.nav-highlight {
  background: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  height: 100%;
  transition: 0.15s ease;
  transition-property: width, transform, opacity;
}

.sloby-logo:hover {
  animation: shake 500ms ease-in-out both;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  20% {
    transform: rotate(6deg) translate3d(0, 0, 0);
  }
  40% {
    transform: rotate(-6deg) translate3d(0, 0, 0);
  }
  60% {
    transform: rotate(4deg) translate3d(0, 0, 0);
  }
  80% {
    transform: rotate(-4deg) translate3d(0, 0, 0);
  }
}

@media (min-width: 1200px) {
  .xsl\:max-w-7xl {
    max-width: 80rem /* 1280px */;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (max-width: 350px) {
  .xs\:flex-col {
    flex-direction: column;
  }
  .xs\:flex-row {
    flex-direction: row;
  }
}
