.base-icon {
  width: 40px;
  height: 40px;
}

.margin-left {
  margin-left: 20px;
}

.content-base{
    max-width: $max-content-width;
    margin: 0 auto;
    &.off-content-base{
      margin: 0;
      max-width: none;
    }
  .red {
    color: red;  
  }
}

.flex-direction {
  display: flex;
  flex-direction: column;
  
.project-list-container {
  display: flex;
  justify-content: flex-end;
  border: 1px solid red;
}
}
.upload-button {
  font-size: 16px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: .5em;
  transition: 250ms ease-in-out;
  padding: 6px;
  border: 1px solid white;
  font-family: inherit;

  &:hover {
      transition: 250ms ease-in-out;
      background: white;
      color: black;
      border-color: black;
  }
}

.hide {
  visibility: hidden;
  display: none;
}





.icon-base {
  width: 15px;
  height: 15px;
}




.button {
            margin-left: 15px;
            font-size: 16px;
            background: black;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: .5em;
            transition: 270ms ease-in-out;
            padding: 6px;
            font-family: inherit;
            
            &:hover {
                background-color: $blue-hover-color;
                color: white;
                transform: translateY(-5px);
                filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.3));

            }
        }

.bbutton{

            margin-left: 15px;
            font-size: 16px;
            background: $blue-hover-color;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: .5em;
            transition: 270ms ease-in-out;
            padding: 6px;
            font-family: inherit;

            &:hover {
                background-color: #0c46c7;
                color: white;
                transform: translateY(-5px);
                filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.5));

            }
}
.off-link-dec {

  &.log-out-icon{
    color: $blue-hover-color;
  }
  text-decoration: none;
  color: white;
  .help-icon{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 30px;
  }
  &.white{
    color: white;
  }
  &.action-hover{
    &:hover{
      text-decoration: underline;
    }
  }

  &.navigate {
    color: #0c46c7;
  }
}

.display-none {
  display: none;
}


.icon {
  cursor: pointer;
  transition: 250ms ease-in-out;
  &:hover {
    transition: 250ms ease-in-out;
    transform: scale(1.1);
  }

  &.smaller {
    width: 30px;
    height: 30px;
  }

  
}

.underline {
    width: 170px;
    height: 5px;
    background: #232323;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 22px;
    &.bigger-line{
        width: 18rem;
    }
  &.smaller-line{
    width: 2.5rem;
  }



}

.bold {
  font-weight: bold;
}


.bold-text{
  font-weight: bold;
  &.help-text{
    font-size: 30px;
  }
}
.user-select-none{
  user-select: none;
}
.title-base{
    font-size: 30px;
    font-weight: bold;
  }
.subtitle-base{
    padding: 3px;
    border: 0.2px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    margin: 10px;
  }

.input-base{
          resize: vertical;
          font-family:inherit;
          background: white;
          margin-left: 15px;
          color: black;
          font-size: $medium-font-size;
          padding: 0.25rem 0.5rem;
          border-radius: 0.25rem;
          overflow-wrap: break-word;
          overflow-y: scroll;
          user-select: none;
          margin-bottom: 25px;
          width: $input-width;
          max-width: calc(#{$form-container-width} - 15px*2.5);
          font-weight: bold;
   &::placeholder{
       font-size:15px;

   }
  &:focus {
          outline-style: none;
          transition: 250ms ease-in-out;
          border-color: $blue-hover-color;
          box-shadow: 2px 2px 2px 1px $blue-hover-color;
  }
}
.form-container-base{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    .error-message{
      color: red;
      font-weight: bold;
    }
  }

.modal{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.white {
  color: white;
}

.bigger-0 {
  width: 50px;
  height: 50px;
}

.project-underline {
  height: 1px;
  background: #202024;
  width: 100%;
}


.icon {
  width: 25px;
  height: 25px;
}