.help-container{
  display: flex;

  align-items: center;
  flex-direction: column;

  .subtitle{
    padding: 3px;
    border: 0.2px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    margin: 10px;
  }
  .options{
    margin-top: 70px;
    display: flex;
    gap: 100px;
    .icons{
      font-size: 40px;
    }

    .help-content {
      border: 1px solid $blue-hover-color;
      padding: 10px;
      width: 200px;
      filter: drop-shadow(0 7px 5px rgba(0, 0, 0, 0.22));
      box-shadow: 2px 2px 2px 1px #7ab3e7;
      border-radius: 16px;

      &:hover {
        box-shadow: 2px 2px 2px 2px #7ab3e7;
      }
    }
  }
}