.project-renderer-container {
    // background: #0d0e0e;
    background-color: $settings-container-background-color;
    // background: #0f0f0f;
    display: flex;
    height: 100%;
    .projects-container {
        display: flex;
        gap: 200px;
        color: white;
        
        .project-container {
            border: 2px solid rgba(255, 255, 255, 0.1);
            height: 250px;
            width: 250px;
            border-radius: 5px;
            margin-left: 25px;
            margin-top: 25px;
            box-shadow: 1px 1px 20px solid white;

            .project-image {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 5px;
                img {
                    width: 93%;
                    height: 160px;
                }
            }
            
            .project-name {
                background:rgba(255, 255, 255, 0.02);
                z-index: 10;
                width: 100%;
                height: 81px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                font-weight: bold;
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}