.upsection-container {
    width: 82vw;
    display: flex;
    height: 50px;
    background: $user-tag-background-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .searchbar {
        width: 100%;
        display: flex;
        justify-content: center;
    }

   
    .handler-button {
        width: 10%;
        display: flex;
        justify-content: space-around;
        height: 70%;;                    
        align-items: center;
        margin-right: 15px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .button-base {
            border: none;
            cursor: pointer;
            border-radius: 5px;
            transition: 270ms ease-in-out;
            padding: 8px;
            font-family: inherit;
            font-size: 12px;
        }

        .new-project {
            background-color: $project_section_button_color;
            color: white;
            display: flex;
            gap: 8px;

            &:hover {
                box-shadow: 1px 1px 10px $project_section_button_color;
                transform: translateY(-6px);
            }
        }
    }
}



