@import 'variables';
@import 'content_base';
@import 'project_handler';
@import 'admin';
@import 'search-bar';
@import 'sidemenu-bar';
@import 'projects';
@import 'popup';
@import 'project-handler-content';
@import 'error-page';

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(0 4 15 / var(--tw-bg-opacity));
}

::-webkit-scrollbar {
  width: 10px;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.menu-icon {
  color: white;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.text-dimWhite {
  color: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-track {
  background: rgb(21, 21, 21);
}

::-webkit-scrollbar-thumb {
  background: #3f51b5;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f51b5;
}

.content-container {
  background-color: $black_theme_background_content;
}

.documentation-container {
  background-color: black;
  height: calc(100vh - #{$footer-container-height});
  color: white;

  .subtitle-base {
    border: 1px solid white;
  }
}
.community-container {
  background-color: black;
  height: calc(100vh - #{$footer-container-height});
  color: white;

  .subtitle-base {
    border: 2px solid white;
  }
}

.docs {
  --tw-text-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}

.help-icon {
  color: white;
}

.goal-content-container {
  background-color: black;
  color: white;
  height: calc(100vh - #{$footer-container-height});
  .subtitle-base {
    border: 2px solid white;
  }
}

.header-container {
  background-color: $black_theme_background_header;
}
.theme-case-header {
  background-color: black;
  border: 0.1px solid black;
}
.register-container {
  background-color: black;
  height: calc(100vh - #{$footer-container-height});
  .off-link-dec {
    color: white;
  }
  .login-title {
    color: white;
  }

  .form-container-base {
    background-color: $black_theme_background_header;
  }
}
.help-container {
  background-color: black;
  height: calc(100vh - #{$footer-container-height});
  .subtitle-base {
    color: white;
    border: 0.2px solid white;
  }
  .options {
    .bold-text {
      color: white;
      display: flex;
      justify-content: center;
    }
  }
  .title-base {
    color: white;
  }
  .help-content {
    background-color: #191919;
  }
}

.about-us-container {
  background-color: black;
  height: 80vh;
  .title-base {
    color: white;
  }
  .subtitle-base {
    color: white;
    border: 0.2px solid white;
  }
}
.login-container {
  background-color: black;

  .off-link-dec {
    color: white;
  }
  .login-title {
    color: white;
  }
  .form-container-base {
    background-color: $black_theme_background_header;
  }
}

.login-container {
  height: calc(100vh - #{$footer-container-height});
}

.throw-message-container {
  background-color: black;
  color: white;
  .join-container {
    background-color: $black_theme_background_header;
  }
}

.theme-case-content {
  border: 1px solid black;
  background-color: black;
  height: calc(100vh - #{$footer-container-height});
}

.security-popup-container {
  background-color: $settings-container-background-color;

  .MuiTypography-colorTextPrimary {
    color: white;
  }
  .MuiTypography-colorTextSecondary {
    color: white;
  }
}

.theme-case-forum {
  .forum-container {
    height: calc(100vh - #{$footer-container-height});
    .content-base {
      max-width: none;
    }

    .help-system-container {
      background-color: $black_theme_background_header;
    }

    .ask-for-help {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 16px;
    }

    .MuiSvgIcon-root {
      color: white;
      cursor: pointer;
    }

    .details {
      background-color: #0f0f0f;
      box-shadow: 1px 1px 20px #0792ff;

      .input-base {
        background-color: $black_theme_background_header;
        color: white;
      }
    }

    background-color: $settings-container-background-color;
    color: white;

    .input {
      background: black !important;
      color: white !important;
    }
  }
}

.settings-container {
  background-color: $settings-container-background-color;
  color: white;
}

.introduction-section {
  .section-color p {
    color: white;
  }
  .section-color h2 {
    color: white;
  }
}
//settings
.MuiSvgIcon-root {
  color: white;
}

.setting-item {
  background-color: #191919;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
}
//setting-end

//header
.button {
  background-color: #191919;
  color: white;
  border: 0.5px solid white;
}

.header-menu-items {
  color: rgba(255, 255, 255, 0.9);
}
.popup-menu {
  background-color: #191919;

  .popup-items {
    color: white;
    transition: 250ms ease-in-out;

    &:hover {
      transition: 250ms ease-in-out;
      transform: scale(1.02);
    }
  }
}
//header-end
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .App {
    min-height: 100vh;
  }
}
