.profile-container .profile-information {
  margin-top: 20px;
  display: flex;
  width: 85%;
  justify-content: space-between;
}
.profile-container .profile-information .name-container {
  display: flex;
  flex-direction: column;
}
.profile-container .profile-information .other-information {
  display: flex;
  flex-direction: column;
}