.content-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 8px;
  .hero-section-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hero-section-item {
      height: max-content;
      padding: 10px;
      img {
        width: 490px;
        height: 490px;
        user-select: none; 
      }

      display: flex;
    }
  }

  
}

.about-us-container{

}