.content-base{
  max-width: $max-content-width;
  margin: 0 auto;


  .red {
    color: red;  
  }
}
.button {
            margin-left: 15px;
            font-size: 16px;
            background: black;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: .5em;
            transition: 270ms ease-in-out;
            padding: 6px;
            
            &:hover {
                background-color: $blue-hover-color;
                color: white;
                transform: translateY(-5px);
                filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.3));

            }
        }

.bbutton{

            margin-left: 15px;
            font-size: 16px;
            background: $blue-hover-color;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: .5em;
            transition: 270ms ease-in-out;
            padding: 6px;

            &:hover {
                background-color: #0c46c7;
                color: white;
                transform: translateY(-5px);
                filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.5));

            }
}
.off-link-dec {
  text-decoration: none;
  color: black;
}
.icon {
  cursor: pointer;
  transition: 250ms ease-in-out;
  &:hover {
    transition: 250ms ease-in-out;
    transform: scale(1.1);
  }
}

.underline {
    width: 5rem;
    height: 0.25rem;
    background: $blue-hover-color;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    &.bigger-line{
        width: 18rem;
    }
}
.bold-text{
  font-weight: bold;
}
.user-select-none{
  user-select: none;
}
