.forum-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    font-size: 16px;


    .help-system-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 250ms ease-in-out;

        .title {
            font-weight: bold;
            font-size: $large-font-size;
        }

        .underline {
            width: 5rem;
            height: 0.25rem;
            background: $blue-hover-color;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            &.bigger-line{
                width: 18rem;
            }
        }


    .create-question-container {
        margin-top: 15px;
        padding: 10px;
        display: flex;

        .form-container {

            position: relative;
            filter: drop-shadow(0 7px 5px rgba(0, 0, 0, 0.3));
            margin-top: 15px;
            padding: 10px;
            border: 1px solid #d5d7d9;
            border-radius: .5rem;

            width: $form-container-width;

            &:hover {
                transition: 250ms ease-in-out;
                border: 1px solid $blue-hover-color;
            }

            .inputs{
                 .input {
                     &.textarea {
                         ::-webkit-scrollbar {
                             width: 10px;
                         }

                         ::-webkit-scrollbar-track {
                             background: rgb(21, 21, 21);
                         }

                         ::-webkit-scrollbar-thumb {
                             background: $blue-hover-color;
                         }

                         ::-webkit-scrollbar-thumb:hover {
                             background: #3e9cd9;
                         }
                     }
                        font-family:inherit;
                        background: white;
                        border: 1px solid #d5d7d9;
                        margin-left: 15px;
                        color: black;
                        font-size: $medium-font-size;
                        padding: 0.25rem 0.5rem;
                        border-radius: 0.25rem;
                        overflow-wrap: break-word;
                        overflow-y: scroll;
                        user-select: none;
                        margin-bottom: 25px;
                        width: $input-width;
                        font-weight: bold;
                 &::placeholder{
                     font-size:15px;

                 }
                &:focus {
                        outline-style: none;
                        transition: 250ms ease-in-out;
                        border-color: $blue-hover-color;
                        box-shadow: 2px 2px 2px 1px $blue-hover-color;
                }
            }

            }
        }
    }
    //question item
        .title-questions {
            font-weight: bold;
            font-size: $large-font-size;
            margin-top: 25px;

        }
     .questions-container {

         .question-item {

            display: flex;
            justify-content: space-between;
            border: 2px solid #d5d7d9;
            border-radius: 5px;
            margin-bottom: 10px;
            width: $question-item-width;
            transition: 250ms ease-in-out;

              &:hover {
             transition: 250ms ease-in-out;
              box-shadow: 2px 2px 2px 1px #141414;
            transform: translateY(-5px);
         }
             .question-title-and-desc {
                 padding: 5px;
                 width: 90%;

                 .question-title {
                     font-size: $question-title-font-size;
                     margin-top: -10px;
                     border-bottom: 1px solid #d5d7d9;
                     border-radius: 10px;
                     margin-bottom: 15px;

                 }
                 .question-description {
                    height: 70px;
                    padding: 5px 2px;
                    overflow-wrap: break-word;
                    overflow-y: scroll;
                 }
             }
         }
     }
  }



    .modal-add-item-container {
        display: flex;
        background-color: white;
        padding: 20px;
        filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.22));
        margin-bottom: 15px;
        border-radius: 20px;
        border-top: 5px solid #52ae30;
        color: #52ae30;

    }

    .modal-no-value-container {
        background-color: white;
        padding: 20px;
        filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.22));
        margin-bottom: 15px;
        border-radius: 20px;
        border-top: 5px solid red;
        color: red;
        display: flex;
    }

    .modal-item-removed {
        background-color: white;
        padding: 20px;
        filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.22));
        margin-bottom: 15px;
        border-radius: 20px;
        border-top: 5px solid #ffc107;
        color: #ffc107;
        display: flex;
    }
}