.forum-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    font-size: 16px;
    .title {
        font-weight: bold;
        font-size: $large-font-size;
    }

    .underline {
        width: 5rem;
        height: 0.25rem;
        background: #d5d7d9;
        margin-left: auto;
        margin-right: auto;
    }

    .filter-container {
        margin-top: 15px;
        padding: 10px;
        display: flex;
        width: 70%;
        justify-content: center;
        align-items: center;
        border: 1px solid #d5d7d9;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        position: relative;

        &:hover {
            transition: 250ms ease-in-out;
            border: 1px solid $blue-hover-color;
        }    
        
        }
        
        .add-item-container {
            width: 100%;
        }
        button {
            position: absolute;
            right: 0;
            margin-top: 20px;
        }

        input {
            border-color: none;
            background: white;
            border: 1px solid #d5d7d9;
            margin-left: 15px;
            color: black;
            font-size: $medium-font-size;
            padding: 0.25rem 0.5rem;
            border-radius:  0.25rem;
            user-select: none;
            display: flex;
            flex-direction: column;
            width: 90%;
            margin-bottom: 25px;
            border-color: none;
            border: 1px solid #d5d7d9;

            &:focus{
                outline-style: none;
                box-shadow: none;
                transition: 250ms ease-in-out;
                border-color: $blue-hover-color;
                box-shadow: 2px 2px 2px 1px $blue-hover-color;

            }
        }
      
    }

    .filtered-items-container {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 100%;
        border-radius: 15px;
        margin-top: 25px;

        .filtered-items {
            box-shadow: 2px 2px 2px 1px black;
            border: 0.5px solid black;
            width: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .filtered-items-option {
            display: flex;
            width: 100%;
            padding: 10px;
            font-size: $large-font-size;
        }    
    }

    .modal-add-item-container {
        background-color: white;
        padding: 20px;
        filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.22));
        margin-bottom: 15px;
        border-radius: 20px;
        border-top: 5px solid #52ae30;
        color: #52ae30;
        display: flex;
    }

    .modal-no-value-container {
        background-color: white;
        padding: 20px;
        filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.22));
        margin-bottom: 15px;
        border-radius: 20px;
        border-top: 5px solid red;
        color: red;
        display: flex;
    }

    .modal-item-removed {
        background-color: white;
        padding: 20px;
        filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.22));
        margin-bottom: 15px;
        border-radius: 20px;
        border-top: 5px solid #ffc107;
        color: #ffc107;
        display: flex;
    }
   
