.forum-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    .title {
        font-weight: bold;
        font-size: $large-font-size;
    }

    .underline {
        width: 5rem;
        height: 0.25rem;
        background: $blue-hover-color;
        margin-left: auto;
        margin-right: auto;
    }

    .filter-container {
        margin-top: 15px;
        padding: 10px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        border: 2px solid red;
        

        input {
            background: white;
            border: 0.5px solid $blue-hover-color;
            margin-left: 15px;
            color: black;
            font-size: $medium-font-size;
            padding: 0.25rem 0.5rem;
            border-radius:  0.25rem;
            user-select: none;
        }
    }

    .filtered-items-container {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 100%;
        border-radius: 15px;
        margin-top: 25px;

        .filtered-items {
            box-shadow: 2px 2px 2px 1px black;
            border: 0.5px solid black;
            width: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .filtered-items-option {
            display: flex;
            width: 100%;
            padding: 10px;
            font-size: $large-font-size;
        }
    }
    .modal {
        background-color: white;
        padding: 20px;
        filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.22));
        margin-bottom: 15px;
        border-radius: 20px;
        border-top: 5px solid #52ae30;
        color: #52ae30;
        display: flex;
    }
}