.header-container {
    display: flex;
    position: relative;

    margin: 10px;
    filter: drop-shadow(0 7px 5px rgba(0, 0, 0, 0.3));
    border-radius: 1em;
    z-index: 100;
    width: 98%;
    height: $header-height;
    background-color: $header-background-color;
    padding: 10px 0;
    .base-sidebar-container{
        width: 50px;

        position: absolute;
        right: 0;

    }
    .navigation{

        display: flex;
        width: inherit;
        justify-content: space-evenly;
        .menu-container{
        display: flex;
        align-items: center;

        .menu{

            display: flex;

            gap: 35px;
            width: 100%;
            .menu-item {

                font-weight: bold;

                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;

                &:hover {
                    transform: scale(1.1);
                    transition: 250ms ease-in-out;
                    .popup-menu {
                        visibility: visible;
                        opacity: 1;
                        transition: 250ms ease-in-out;
                    }
                }
            }

    }
    }
    }


    .popup-menu {
        margin-top: 25px;
        z-index: 101;
        background-color: $blue-hover-color;
        color: black;
        border: 2px solid #285383;
        border-radius: .5em;
        padding: 3px 8px;
        top: 0;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        box-shadow: 2px 2px 2px 1px #7ab3e7;

        .popup-items {
            color: black;
            display: flex;
            flex-direction: column;
            width: max-content;
            font-weight: initial;
            &:hover {
                transition: 250ms;
                color: white;
            }
        }
    }

    .button-wrapper {
        filter: drop-shadow(0 7px 5px rgba(0, 0, 0, 0.22));
        .button {
            margin-left: 15px;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            background: black; 
            color: white;
            border: none;
            padding: 5px;
            cursor: pointer;
            border-radius: .5em;
            transition: 270ms ease-in-out;
        
        
            &:hover {
                background-color: hsl(200, 100%, 50%);
                color: white;
                transform: translateY(-5px);
                filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.3));

            }
        }
    }

    .settings-section {
        .button {
            margin-left: 15px;
            font-size: 16px;
            background: black; 
            color: white;
            border: none;
            padding: 5px;
            cursor: pointer;
            border-radius: .5em;
            transition: 270ms ease-in-out;
        
        
            &:hover {
                background-color: $blue-hover-color;
                color: white;
                transform: translateY(-5px);
                filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.3));

            }
        }
    }

}

.sidebar-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    border: 2px solid red;
    height: max-content;

    .menu-icon {
        font-size: 2rem;
    }

    .sidebar-optional-container {
        font-size: $header-sidebar-font-size;
    }
}

