.header-container {
    display: flex;
    position: relative;
    margin-bottom: 25px;
    margin-left: 10px;

    transform: translateY(10px);
    filter: drop-shadow(0 7px 5px rgba(0, 0, 0, 0.3));
    border-radius: 1em;
    z-index: 100;
    width: 97%;
    height: $header-height;
    background-color: $header-background-color;
    padding: 10px 0;
    .base-sidebar-icon{
        width: 50px;
        cursor: pointer;
        position: absolute;
        right: 17px;

        &:hover {
            transform: scale(1.1);
            transition: 250ms ease-in-out;
        }
    }
    .navigation{

        display: flex;
        width: inherit;
        justify-content: space-evenly;
        .menu-container{
        display: flex;
        align-items: center;

        .menu{

            display: flex;

            gap: 35px;
            width: 100%;
            .menu-item {

                font-weight: bold;

                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;

                &:hover {
                    transform: scale(1.1);
                    transition: 250ms ease-in-out;
                    .popup-menu {
                        visibility: visible;
                        opacity: 1;
                        transition: 250ms ease-in-out;
                    }
                }
            }

    }
  }
}


    .popup-menu {
        margin-top: 25px;
        z-index: 101;
        background-color: $blue-hover-color;
        color: black;
        border: 2px solid #285383;
        border-radius: .5em;
        padding: 3px 8px;
        top: 0;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        box-shadow: 2px 2px 2px 1px #7ab3e7;

        .popup-items {
            color: black;
            display: flex;
            flex-direction: column;
            width: max-content;
            font-weight: initial;
            &:hover {
                transition: 250ms;
                color: white;
            }
        }
    }

    .button-wrapper {
        filter: drop-shadow(0 7px 5px rgba(0, 0, 0, 0.22));
    }

}




