.login-container{
  display: flex;
  justify-content: center;
  .form-container-base{
    box-shadow: 5px 5px 10px #d3d3d3;
    filter: drop-shadow(0 7px 5px rgba(0, 0, 0, 0.3));
    height: max-content;
    padding: 15px;
    border-radius: 16px;
  }
}