.goal-content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.throw-message-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}