.security-container {
    position: fixed;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .security-popup-container {
        background-color: white;
        padding: 20px;
        border-radius: $popup-border-radius;
        filter: drop-shadow(0 7px 5px rgba(0, 0, 0, 0.22));
        width: 500px;
        height: 300px;

        .security-question {
            color: black !important;
            margin-bottom: 20px;
        }
        .security-button-wrapper {
            display: flex;
            justify-content: center;

            button {
               margin: 0 16px;
            }
        }
    }
}