.settings-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  .title{
    font-weight: bold;
    font-size: 20px;
  }
  .options{

    margin-left: 10%;
    align-self: flex-start;

    .settings-item{
      color: red;

      .setting-item{
         margin-bottom: 30px;
        .card-header{

          .MuiTypography-root{
            color: $blue-hover-color;
          }
          .MuiTypography-root.MuiTypography-body1{
            color: green;
          }
        }
      }
    }
  }
}