.settings-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    .title {
        font-weight: bold;
        font-size: $large-font-size;
    }

    .underline {
        width: 5rem;
        height: 0.25rem;
        background: $blue-hover-color;
        margin-left: auto;
        margin-right: auto;
    }

    .filter-container {
        margin-top: 15px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
    }

    .filtered-items-container {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 100%;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 1px black;
        border: 0.5px solid black;
        margin-top: 25px;

        .filtered-items {
            border: 2px solid green;
            width: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .filtered-items-option {
            display: flex;
            width: 100%;
            padding: 10px;
            font-size: $large-font-size;
        }
    }
}