.main-div {
    width: 100%;
    .upsection-container {

        display: flex;
        height: 80px;
        background: #060606;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .project-title {
            font-size: 20px;
            font-weight: bold;
            font-style: italic;
            width: 16.65%;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 15px;
            background-color: $side-bar-backround;
            box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.1);     
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            .bigger-icon {
                width: 35px;
                height: 35px;
            }

            .user-details {
                font-size: 16px;
                color: white;
                font-weight: lighter;
                width: 50%;
                display: flex;
                justify-content: center;
            } 


            .icon {
                display: flex;
                align-items: center;

                .arrow-icon {
                    font-size: 52px;
                    padding: 10px;
                    border-radius: 50%;
                    background: #1c5bf8;
    
                    &:hover {
                        box-shadow: 1px 1px 20px #1c5bf8;
                    }
                }
            }

            
        }


       

        .icon {
            width: 28px;
            height: 28px;
            
            &.close {
                margin-right: 10px;
            }
        }

        .handler-buttons {
            width: 16%;
            display: flex;
            justify-content: space-around;
            padding-right: 5px;
            height: 70%;;                    
            align-items: center;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .button-base {
                border: none;
                cursor: pointer;
                border-radius: 5px;
                transition: 270ms ease-in-out;
                padding: 8px;
                font-family: inherit;
                font-size: 14px;
            }


           



            .new-project {
                background: #1c5bf8;
                color: white;
                display: flex;
                gap: 10px;
                

                &:hover {
                    box-shadow: 1px 1px 10px #1c5bf8;
                    transform: translateY(-6px);
                }
            }
            
            .new-folder {
                background: #b68800;
                color: white;
                display: flex;
                gap: 10px;


                &:hover {
                    box-shadow: 1px 1px 10px #e6ac00;
                    transform: translateY(-6px);
                }
            }
        }
    }

    
        

}