.info-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2979FF;
    border-radius: 4px 4px 0 0;
    height: 60px; 
    width: 100%;

    .left-inner-container {
        flex: 0.5;
        display: flex;
        align-items: center;
        margin-left: 5%;
        color: white;
    }

    .right-inner-container {
        display: flex;
        flex: 0.5;
        justify-content: flex-end;
        margin-right: 5%;
      }

      .online-icon {
        margin-right: 5%;
      }
}
