.join-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 15px;
  font-size: $medium-font-size;
  width: 800px;
.heading {
  display: flex;
  justify-content: center;
}

.join-input {
    resize: vertical;
    font-family:inherit;
    background: white;
    border: 1px solid #d5d7d9;
    margin-left: 15px;
    color: black;
    font-size: $medium-font-size;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    overflow-wrap: break-word;
    overflow-y: scroll;
    user-select: none;
    margin-bottom: 25px;
    width: $input-width;
    max-width: calc(#{$form-container-width} - 15px*2.5);
    font-weight: bold;
  &::placeholder{
  font-size:15px;

    }
  &:focus {
    outline-style: none;
    transition: 250ms ease-in-out;
    border-color: $blue-hover-color;
    box-shadow: 2px 2px 2px 1px $blue-hover-color;
    }
  }
  

  .mt-20 {
    margin-top: 20px;
  }

  .bbutton {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: white; 
    background-color: #2979FF;
    border: none;
    border-radius: 16px;
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
  }

}