@import "variables";
@import "header";
@import "content";
@import "footer";
@import "content_base";
@import "forum";
@import "user";
@import "security";
@import "help";
@import "settings";

html {
    height: 100%;
}

[data_theme="dark"] {
    background-color: #191919;
    color: white;
    transition: 250ms ease-in-out;
    
    .header-container {
        border: 1px solid skyblue; 
    }

    .settings-item {
        border: 1px solid red;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
      font-family: 'Poppins', serif;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  .App{
    min-height: 100vh;
  }
  }
  
