@import "variables";
@import "header";
@import "content";
@import "footer";
@import "content_base";
@import "forum";
@import "user";
@import "security";
@import "help";
@import "settings";
@import "about_us.scss";
@import "our_project.scss";

html {
    height: 100%;
}

[data_theme="dark"] {
    .content-container{
      background-color: $black_theme_background_content;
    }
  .header-container{
    background-color: $black_theme_background_header;
    margin-top: 10px;
    }
  .theme-case-header {
    background-color: black;
    border: 0.1px solid black;
  }

  .theme-case-content {
      border: 1px solid black;
      background-color: black;
      height: 750px;
  }

  .security-popup-container {
    background-color: $settings-container-background-color;

    .MuiTypography-colorTextPrimary {
      color: white;
    }
    .MuiTypography-colorTextSecondary {
      color: white;
    }
  }

  .theme-case-forum {
    background-color: $black_theme_background_header;
    .forum-container {
      background-color: $settings-container-background-color;
      color: white;

      .input {
        background: black !important;
        color: white !important;
      }
    }
  }

    .settings-container{
      background-color: $settings-container-background-color;
      color: white;
    }

  .introduction-section{

    .section-color p{
      color: white;
    }
     .section-color h2{
      color: white;
    }
  }
    transition: 250ms ease-in-out;
    //settings
    .MuiSvgIcon-root {
      color: white;
    }

    .setting-item {
      background-color: #191919;
      color: rgba(255, 255, 255, 0.9);
      border-radius: 16px;
    }
    //setting-end

    //header
  .button {
    background-color: #191919;
    color: white;
    border: 0.5px solid white;
  }

  .header-menu-items {
    color: rgba(255, 255, 255, 0.90)
  }
  .popup-menu {
    background-color: #191919;

    .popup-items {
      color: white;
      transition: 250ms ease-in-out;

      &:hover {
        transition: 250ms ease-in-out;
        transform: scale(1.02);
      }
    }
  }
  //header-end
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
      font-family: 'Poppins', serif;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

  .App{
    min-height: 100vh;
  }
}
  
