@import "variables";
@import "header";
@import "content";
@import "footer";
@import "content_base";
@import "forum";
@import "user";
@import "security";
@import "help";
@import "settings";

html {
    height: 100%;
}

[data_theme="dark"] {
    background-color: rgba(0, 0, 0, 0.97);
    color: white;
    transition: 250ms ease-in-out;
    //settings
    .MuiSvgIcon-root {
      color: white;
    }

    .setting-item {
      background-color: #191919;
      color: rgba(255, 255, 255, 0.9);
      border-radius: 16px;
    }
    //setting-end

    //header
  .button {
    background-color: #191919;
    color: white;
    border: 0.5px solid white;
  }

  .header-menu-items {
    color: rgba(255, 255, 255, 0.90)
  }
  .popup-menu {
    background-color: #191919;

    .popup-items {
      color: white;
      transition: 250ms ease-in-out;

      &:hover {
        transition: 250ms ease-in-out;
        transform: scale(1.02);
      }
    }
  }
  //header-end
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
      font-family: 'Poppins', serif;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  .App{
    min-height: 100vh;
  }
}
  
