.project-handler-container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .main-div {
        width: 100%;
        .upsection-container {

            display: flex;
            height: 80px;
            background: #060606;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .project-title {
                color: #3f51b5;
                font-size: 20px;
                font-weight: bold;
                font-style: italic;
                width: 16.65%;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 15px;
                border-right: 2px solid rgba(255, 255, 255, 0.1);


                .bigger-icon {
                    width: 35px;
                    height: 35px;
                }
            }


            .search-bar {
                display: flex;
                justify-content: center;
                width: 657px;
                display: flex;
                align-items: center;
                border-radius: 10px;
                transition: 350ms ease-in-out;

                
                &:hover {
                    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.1);
                    border: 1px solid rgba(255, 255, 255, 0.1);
                }

                &:focus {
                    border: 1px solid rgba(255, 255, 255, 0.1);
                }


                .search-icon-container {
                    background-color: #141414;
                    height: 53px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-right: none;
                    border-radius: 10px 0px 0px 10px;
                    padding: 10px;

                    

                }






                .search-input {
                    border: none;
                    font-size: 14px;
                    background: #141414;
                    padding: 8px;
                    color: white;
                    outline: none;
                    border-left: none;
                    transition: all 0.2s ease-in-out;
                    width: 100%;
                    height: 53px;
                    border-right: none;
                    border-radius: 0px 10px 10px 0px;
                    
            
                    
                }
            }

            .icon {
                width: 28px;
                height: 28px;
            }

            .handler-buttons {
                width: 16%;
                display: flex;
                justify-content: space-around;
                padding-right: 5px;
                height: 70%;;                    
                align-items: center;

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .button-base {
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;
                    transition: 270ms ease-in-out;
                    padding: 8px;
                    font-family: inherit;
                    font-size: 14px;
                }


               



                .new-project {
                    background: #1c5bf8;
                    color: white;
                    display: flex;
                    gap: 10px;
                    

                    &:hover {
                        box-shadow: 1px 1px 10px #1c5bf8;
                        transform: translateY(-6px);
                    }
                }
                
                .new-folder {
                    background: #b68800;
                    color: white;
                    display: flex;
                    gap: 10px;


                    &:hover {
                        box-shadow: 1px 1px 10px #e6ac00;
                        transform: translateY(-6px);
                    }
                }
            }
        }
    }




    .menu-bar-container {
        height: 100%;
        width: 20%;
        background-color: rgba(0, 0, 0, 0.96);
        color: rgba(255, 255, 255, 0.8);
        z-index: 10;
        border-right: 2px solid rgba(255, 255, 255, 0.1);
        


        .menu-items {
            display: flex;
            margin-top: 40px;
            justify-content:  center;
            font-size: 18px;

            a {
                color: #696d7c;
                padding: 10px;

                &:hover {
                    background: #1c5bf8;
                    border-radius: 16px;
                    transition: 250ms ease-in-out;
                    color: white;
                    box-shadow: 1px 1px 20px #1c5bf8;
                }   
            }
        }


        .icon {
            .arrow-icon {
                margin-left: 15px;
                margin-top: 15px;
                font-size: 52px;
                padding: 10px;
                border-radius: 50%;
                background: #1c5bf8;

                &:hover {
                    box-shadow: 1px 1px 20px #1c5bf8;
                }
            }
        }
            
    }

    .display-flex {
        display: flex;
        height: 100%;
    }


    .project-creator-container {
        width: 100%;
        background-color: $settings-container-background-color;
        display: flex;
        gap: 200px;
        
    }

    .popup-container {
        position: fixed;
        z-index: 200;
        background-color: #000000a6;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content:  center;
        align-items: center;
        .popup-content {
            background-color: #060606;
            width: 65%;
            height: 900px;
            border-radius: 20px;
            border: 0.5px solid rgba(255, 255, 255, 0.1);
            filter: blur(0);
            box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
            .upbar-container {
                display: flex;
                justify-content: flex-end;
                .title {
                    font-size: 25px;
                    text-align: center;
                    color: #1c5bf8;
                    font-weight: bold;
                    font-style: oblique;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 65%;
                }
                .icon-container {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 5%;
                    .close-icon {
                        color: white;
                        cursor: pointer;
                    }
                }
            }
                
        
            
            .inputs {
                height: 65%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 100px;

                .input-content {
                    display: flex;
                    flex-direction: column;
                    margin-top: -90px;
                    width: 60%;
                    padding: 15px;
                    gap: 10px;
                    color: rgba(255, 255, 255, 0.8);
                    font-weight: bold;
                    font-size: 19px;
                    width: 90%;

                    
                    .errors {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .error-icon {
                            color: #ea7476;
                            margin-left: 15px;
                        }

                        .error-message {
                            font-weight: lighter;
                            font-size: 15px;
                            color: #ea7476;
                            font-style: italic;
                        }
        
                    }

                    
    

                }

                .input {
                    font-size: 16px;
                    border-radius: 10px;
                    background: black;
                    padding: 10px;
                    color: white;
                    border: 3px solid rgba(255, 255, 255, 0.1);
                    outline: none;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        border-color: #7199ff;
                    }

                    &:focus {
                        border-color: #1c5bf8;
                        box-shadow: 2px 2px 5px #1c5bf8;
                    }

                    

                }

                 
                .textarea {
                    resize: none;
                    height: 100px;

                    font-size: 16px;
                    border-radius: 10px;
                    background: black;
                    padding: 10px;
                    color: white;
                    border: 3px solid rgba(255, 255, 255, 0.1);
                    outline: none;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        border-color: #7199ff;
                    }

                    &:focus {
                        border-color: #1c5bf8;
                        box-shadow: 2px 2px 5px #1c5bf8;
                    }

                }
            }
            .for-the-button {
                display: flex;
                justify-content: center;
                padding: 10px;
                .blue-button {
                    font-size: 19px;
                    width: 85%;
                    height: 45px;
                    border: none;
                    background: #1c5bf8;
                    color: white;
                    border-radius: 18px;
                    transition: 250ms ease-in-out;
                    cursor: pointer;

                    &:hover {
                        transform: translateY(-10px);
                        font-size: 21px;
                        box-shadow: 1px 1px 5px #1c5bf8;
                    }
                }
            }
        }
    }

    
    .error-input {
        font-size: 16px;
        border-radius: 10px;
        background: black;
        padding: 10px;
        color: white;
        border: 2px solid #ea7476;
        outline: none;
        transition: all 0.2s ease-in-out;
        resize: none;

        
    }

    
}

.main-parent {
    border: 1px solid blue;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    .notification-alert-container {
        border: 1px solid red;
        width: 100%;
    }
}

