    .search-bar {
        display: flex;
        justify-content: center;
        width: 657px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        transition: 350ms ease-in-out;
        margin-left: 25px;

        &:hover {
            box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
        }
    
        &:focus {
            border: 1px solid rgba(255, 255, 255, 0.1);
            box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.1);
        }
    
    
        .search-icon-container {
            background-color: #141414;
            height: 53px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: none;
            border-radius: 10px 0px 0px 10px;
            padding: 10px;
        }
    
    
        .close-icon-container {
            background-color: #141414;
            height: 53px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0px 10px 10px 0px;
        }
    
    
    
    
    
    
        .search-input {
            border: none;
            font-size: 14px;
            background: #141414;
            padding: 8px;
            color: white;
            outline: none;
            border-left: none;
            transition: all 0.2s ease-in-out;
            width: 100%;
            height: 53px;
            border-right: none;
        
            
            
        }
}



.position-container{
    display: flex;
    justify-content: center;
    
    .search-results-container {
        border: 1px solid red;
        background: #0c0c0c;
        position: absolute;
        top: 1;
        bottom: 1;
        width: 651px;
        color: white;
        border: 1px solid #202024;
        display: flex;
        flex-direction: column;
        box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.1);

        .search-result-itself {
            background: #0c0c0c;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            transition: 250ms ease-in-out;
            border: 1px solid red;


            &:hover {
                background: #726f6f1f;
            }

            .project-icon {
                width: 45px;
                height: 45px;
            }
            
            .navigate {
                position: absolute;
                right: 120px;
                border: none;

                .jumpto-button {
                    background: #161616;
                    color: white;
                    border: none;
                    padding: 5px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 250ms ease-in-out;

                    &:hover {
                        background: $project_section_button_color;
                    }
                }
            
            }

            .search-result-title {
                margin-left: 10px;
            }

            

            

        }
    }
    
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    border: 1px solid red;
    gap: 10px;
    z-index: 1001;

    .text-container {
        text-align: center;
        width: 80%;
        color:rgba(255, 255, 255, 0.6);


        span {
            font-weight: bold;
        }
        
    }

    .big-icon {
        width: 65px;
        height: 65px;
      }
}