$header-background-color: rgba(255, 255, 255, 0.93);
$header-color: black;
$header-height: 60px;
$header-button-font-size: 16px;
$header-sidebar-font-size: 20px;

$blue-hover-color: hsl(200, 100%, 50%);

$max-content-width: 1000px;

$footer-background-color: rgba(0, 0, 0, 0.93);
$footer-container-height: 250px;
$footer-text-size: 1rem;
$footer-text-color: #505050;
$footer-text-weight:900;
$footer-lite-text-weight: 600;
$footer-button-color: #0EC6D5;
$footer-icon-color: white;

$footer-input-width: 225px;
$footer-input-height: 55px;

$footer-button-width: 105px;
$footer-button-height: 55px;
$lite-border: 3px;