@import "variables";
@import "header";
@import "content";
@import "footer";
@import "content_base";
@import "forum";
@import "user";
@import "help";
@import "settings";
@import "about_us";
@import "our_project";
@import "register_page";
@import "login_page";
@import "docs";
@import "community";
@import "profile";
@import "project_handler";
@import "admin";
@import "search-bar";
@import "sidemenu-bar";
@import "projects";
@import "popup";
@import "project-handler-content";
@import "user-data-tag";
@import "upsection";
@import "error-page";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(21, 21, 21);
}

::-webkit-scrollbar-thumb {
  background: #3f51b5;
  border-radius: 16px;
}


::-webkit-scrollbar-thumb:hover {
  background: #3f51b5;
}

    .content-container{
      background-color: $black_theme_background_content;
    }

  .documentation-container {
    background-color: black;
    height: calc(100vh - #{$footer-container-height});
    color: white;

    .subtitle-base {
      border: 1px solid white;
    }
  }
  .community-container {
    background-color: black;
    height: calc(100vh - #{$footer-container-height});
    color: white;

    .subtitle-base {
      border: 2px solid white;
    }
  }

  .help-icon {
    color: white;
  }

  .goal-content-container {
    background-color: black;
    color: white;
    height: calc(100vh - #{$footer-container-height});
    .subtitle-base {
      border: 2px solid white;
    }
  }

  .header-container{
    background-color: $black_theme_background_header;
    }
  .theme-case-header {
    background-color: black;
    border: 0.1px solid black;
  }
  .register-container{
    background-color: black;
    height: calc(100vh - #{$footer-container-height});
    .off-link-dec{
      color: white;
    }
     .login-title{
      color:white;
    }



    .form-container-base{
      background-color: $black_theme_background_header;
    }
  }
  .help-container{
    background-color: black;
    height: calc(100vh - #{$footer-container-height});
    .subtitle-base{
      color: white;
      border: 0.2px solid white;
    }
    .options{
      .bold-text{
        color: white;
        display: flex;
        justify-content: center;
      }
    }
    .title-base{
      color: white;
    }
    .help-content {
      background-color: #191919;
    }
  }

  .about-us-container{
    background-color: black;
    height: 80vh;
    .title-base{
      color: white;
    }
    .subtitle-base{
      color: white;
      border:  0.2px solid white;
    }
  }
  .login-container{
    background-color: black;

    .off-link-dec{
      color: white;
    }
    .login-title{
      color:white;
    }
    .form-container-base{
      background-color: $black_theme_background_header;
    }
  }

  .login-container{
    height: calc(100vh - #{$footer-container-height});
  }

  .throw-message-container {
    background-color: black;
    color: white;
    .join-container {
      background-color: $black_theme_background_header;
    }
  }

  .theme-case-content {
      border: 1px solid black;
      background-color: black;
      height: calc(100vh - #{$footer-container-height});
  }

  .security-popup-container {
    background-color: $settings-container-background-color;

    .MuiTypography-colorTextPrimary {
      color: white;
    }
    .MuiTypography-colorTextSecondary {
      color: white;
    }
  }

  .theme-case-forum {
    .forum-container {
      height: calc(100vh - #{$footer-container-height});
      .content-base{
        max-width: none;
      }

      .help-system-container {
        background-color: $black_theme_background_header;
      }

      .ask-for-help {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 16px;
      }

      .MuiSvgIcon-root {
        color: white;
        cursor: pointer;
      }

      .details {
        background-color:#0f0f0f;
        box-shadow: 1px 1px 20px #0792ff;

        .input-base {
          background-color: $black_theme_background_header;
          color: white;
        }
      }

      background-color: $settings-container-background-color;
      color: white;

      .input {
        background: black !important;
        color: white !important;
      }
    }
  }

    .settings-container{
      background-color: $settings-container-background-color;
      color: white;
    }

  .introduction-section{

    .section-color p{
      color: white;
    }
     .section-color h2{
      color: white;
    }
  }
    //settings
    .MuiSvgIcon-root {
      color: white;
    }

    .setting-item {
      background-color: #191919;
      color: rgba(255, 255, 255, 0.9);
      border-radius: 16px;
    }
    //setting-end

    //header
  .button {
    background-color: #191919;
    color: white;
    border: 0.5px solid white;
  }

  .header-menu-items {
    color: rgba(255, 255, 255, 0.90)
  }
  .popup-menu {
    background-color: #191919;

    .popup-items {
      color: white;
      transition: 250ms ease-in-out;

      &:hover {
        transition: 250ms ease-in-out;
        transform: scale(1.02);
      }
    }
  }
  //header-end
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}



body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;

  .App{
    min-height: 100vh;
  }
}
  
