$header-background-color: rgba(255, 255, 255, 0.93);
$header-color: black;
$header-height: 60px;
$header-button-font-size: 16px;
$header-sidebar-font-size: 20px;

$blue-hover-color: hsl(200, 100%, 50%);

$max-content-width: 1200px;

//Help system
$form-container-width: 600px;
$input-width: 400px;
$question-item-width: 700px;
$question-title-font-size: 25px;
$popup-border-radius: 15px;
//
$footer-background-color: rgba(0, 0, 0, 0.93);
$footer-container-height: 250px;
$footer-text-size: 1rem;
$footer-text-color: #505050;
$footer-text-weight: 900;
$footer-lite-text-weight: 600;
$footer-button-color: #0ec6d5;
$footer-icon-color: white;

$footer-input-width: 225px;
$footer-input-height: 55px;

$footer-button-width: 105px;
$footer-button-height: 55px;
$lite-border: 3px;
$large-font-size: 40px;
$medium-font-size: 18px;

$project_section_button_color: rgb(43, 9, 255);

$black_theme_background_content: rgba(73, 73, 73, 0.19);
$black_theme_background_header: rgba(73, 73, 73, 0.19);
$settings-container-background-color: rgba(0, 0, 0, 0.97);

// $side-bar-backround: #070808;
$side_bar_backround: #0c0d0d;
$side_bar_font-color: #4f627f;
$user-tag-background-color: #161718;
// $user_tag_background-color: #212121;
$user_tag_font-color: #6d83a6;
$lighter_bluish_color: #1c5bf8;
$searchbar_color: #262626;
$border-color: rgba(255, 255, 255, 0.1);
$menu_bar_item_color: rgb(0, 0, 61);
